<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <title>SudoKu Illusion</title>
</head>

<body>
    <main class="background">
        <section class="title">
            <h1>SudoKu Illusion</h1>
        </section>
    </main> 
</body>

</html>